/* normal styling */

*{
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
}
.header1{
    width: 99vw;
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: black;
    padding-left: 1vw;
}
.header2{
    width: 99vw;
    height: 6vh;
    display: flex;
    align-items: center;
    /* gap: 2vw; */
    padding-left: 1vw;
    font-weight: 500;
}
.nav{
    height: 6vh;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header3{
    width: 99vw;
    height: 5vh;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    gap: 1vw;
}
.main{
    background-color: #f8f7f7;
    padding-top: 4vh;
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}
.panels{
    padding-left: 1vw;
    width: 70vw;
    height: 60vh;
    display: flex;
    color: white;
    gap: 1vw;
}
.panel{
    background-size: cover; 
    background-position: center;
    border-radius: 1vh;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    padding: 2vw;
    flex-direction: column;
    row-gap: 0.5vh;
}
.pleft{
    display: flex;
    gap: 1vw;
}
#i1{
    width: 35vw; height: 60vh;
}
#i2{
    width: 15vw; height: 60vh ;
}
#i3{
    width: 10vw;height: 29vh; 
}
#i4{
    width: 10vw; height: 29vh;
}
.tags{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    width: 5vw;
    background-color: black;
    border-radius: 1.5vh;
}
.tagDiv{
    display: flex;
    gap: 1vw;
}
.pright{
    height: 68vh;
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}
#sideCards{
    height: 68vh;
    width: 22vw;
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}
.card{
    font-size: 2vh;
    height: 10vh;
    width: 18vw;
    background-color: white;
    gap: 0.5vw;
    padding: 2%;
    display: flex;
}
#cards{
    height: 60vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}
h4{
    font-weight: 500;
}
.latest{
    height:7vh;
    width: 9vw;
    font-size: larger;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: black; 
    color: white;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}
.popular{
    height:7vh;
    width: 9vw; 
    display: flex;
    font-size: larger;
    align-items: center; 
    justify-content: center;
    background-color: white;  
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
}

/* hover effect */

.nav:hover{
    font-size: large;
    background-color: #EEEEEE;
}
.latest:hover{
    opacity: 0.7;
}
.popular:hover{
    background-color: #EEEEEE;
}
.card:hover{
    opacity: 0.7;
}
/* for making responsive using media query */

@media only screen and (max-width: 1100px) {
    body {
        font-size: small;
    }
}
@media only screen and (max-width: 1000px) {
    body {
        font-size: smaller;
    }
}
@media only screen and (max-width: 900px) {
    body {
        font-size: x-small;
    }
}
@media only screen and (max-width: 600px) {
    .main{
        flex-direction: column;
    }
    .panels{
        flex-direction: column;
    }
    .pleft{
        width: 100vw;
    }
    #i1{
        width: 56vw;
    }
    #i2{
        width: 32vw;
    }
    #sideCards{
        margin-top: 4vh;
        margin-left: 47vw;
        width: 50vw;
    }
    .pright{
        width: 50vw;
    }
    #i3{
        width: 40vw;
    }
    #i4{
        width: 40vw;
    }
    .card{
        width: 50vw;
    }
}


